@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins');body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 5em
}
h1{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase
}
.subheading{
    font-weight: bold;
    font-size: 1.5em;
    color: #00000066;
    transform: translateY(-15px)
}
p{
    line-height: 1.9em
}
.page-enter-active, .page-leave-active {
    transition: opacity .5s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }